/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.btn {
  background-color: var(--brand-color);
  height: 50px;
  width: 160px;
  margin: 5px;
  color: #FFFFFF;
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-size: .75rem;
  opacity: 1;
  border: 2px solid var(--brand-color);
  border-radius: 1.75rem;
  cursor: pointer;
}

.btn--inverse {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: var(--brand-color);
}

.btn--outlined {
  background-color: transparent;
  color: #6200EA;
}

.btn--outlined-inverse {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.btn--narrow {
  height: 40px;
}

.btn--bottom {
  height: 60px;
  width: 100%;
  margin: 0;
  background-color: #FFFFFF;
  color: var(--grey);
  border: 0;
  border-radius: 0 0 15px 15px;
}





/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.navigation {
  width: 100%;
  background-color: #FFFFFF;
}

.navigation-pages {
  text-align: center;
  height: 80px;
}

.navigation-pages > li {
  display: inline-block;
  font-size: 12px;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2.4px;
  color: var(--dkpurple);
  padding: 33px 0 32px;
  margin: 0 35px 0;
  cursor: pointer;
}

li.navigation-pages-active {
  border-bottom: 4px solid var(--brand-color);
  color: var(--brand-color);
}




/*------------------------------------*\
  #INPUTS
\*------------------------------------*/

.input, .textarea {
  width: 350px;
  height: 50px;
  background-color: #F4F3F5;
  border: none;
  padding: 16px 24px;
  margin-bottom: 20px;
  font-size: 14px;
}

.input::placeholder, .textarea::placeholder {
  color: #B2ACBA;
  font-weight: bold;
}


.input--active {
  border-bottom: 3px solid var(--brand-color);
  padding-bottom: 13px;
}

.input--active::placeholder {
  color: #211138;
}
 
.textarea {
  height: 110px;
  resize: none;
}





/*------------------------------------*\
  #ICONS
\*------------------------------------*/

.icon {
  background-color: var(--brand-color);
  color: #FFFFFF;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 20px;
  line-height: 20;
  padding: 13px 0;
  border: 2px solid var(--brand-color);
  margin: 0 20px 20px 0;
  cursor: pointer;
}

.icon--outlined {
  background-color: transparent;
  color: var(--brand-color);
}

.icon--small {
  height: 40px;
  width: 40px;
  padding: 9px 0;
  font-size: 
}

.icon--inverse {
  background-color: #FFFFFF;
  color: var(--brand-color);
  border: 2px solid #FFFFFF;
}

.icon--outlined-inverse {
  color: #FFFFFF;
  border: 2px solid;
}





/*------------------------------------*\
  #MAIN-CONTENT
\*------------------------------------*/

.main-content {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 60px 60px 50px;
}

.featured-blog-post {
  background-image: url('../assets/blog/roberto-nickson-5ui0tfMC5ts-unsplash.jpg');
  background-size: cover;
  color: #FFFFFF;
}

.img-content {
  background-image: url(../assets/blog/sean-o-KMn4VEeEPR8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 730px 320px;
  padding-top: 380px;
}







/*------------------------------------*\
  #CATEGORY-BOX
\*------------------------------------*/

.category-box {
  background-color: #FFFFFF;
  border-radius: 15px;
  display: flex;
/*  margin-bottom: 20px; */
}

.img-placeholder {
  background-color: #6200EA;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  margin: 20px;
}

.category-box-details {
  flex: 1;
}

.category-box-text {
  margin: 15px 20px 20px 0;
}

.category-img {
  object-fit: cover;
  height: 120px;
  width: 120px;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
}



/*------------------------------------*\
  #SIDEBAR-CARD
\*------------------------------------*/

.sidebar-card-title {
  background-color: var(--brand-color);
  height: 60px;
  border-radius: 15px 15px 0 0;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-card-content {
  background-color: #FFFFFF;
  border-bottom: 1px solid #F4F3F5;
}

.sidebar-card-placeholder {
  height: 170%;
}

.category-labels > li {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: var(--dkpurple);
  padding: 17px 30px 18px;
  border-bottom: 1px solid #F4F3F5;
  cursor: pointer;
}



/*------------------------------------*\
  #CHAT
\*------------------------------------*/

.avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 40px 10px 0 10px;
}

 .chat-flex {
  display: flex;
}

.chat-flex-own {
  flex-direction: row-reverse;
  text-align: right;
  align-items: flex-end;
}

.chat-content {
  flex: 1;
}

.chat-addressing {
  font-family: Montserrat;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2.4px;
  color: var(--grey);
  margin: 20px 0 5px 0;
}

.chat-message {
  background-color: #FFFFFF;
  padding: 20px;
  font-family: Montserrat;
  border-radius: 0 15px 15px 15px;
  font-size: 14px;
  line-height: 20px;
}

.chat-massage-own {
  background-color: var(--grey);
  border-radius: 20px 20px 0 20px;
  text-align: left;
}