/*------------------------------------*\
  #BASE-FORMATING
\*------------------------------------*/

:root {
  --brand-color: #6200EA; /* purple */
  --dkpurple: #211138; /* dark purple */
  --grey: #B2ACBA; /* grey */
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background-color: #00000029;
  font-family: Montserrat;
}

header {
  background-color: var(--brand-color);
  text-align: center;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 3.125em;
}

footer {
  background-color: #211138;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: var(--grey);
}

/* .page-container and page-content sticks the footer
to the bottom of the page when there is no enough content for it*/

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}

a {
  color: var(--brand-color);
  cursor: pointer;
}

h1, h2, h3, h4 {
  font-family: Montserrat;
  font-weight: bold;
  color: var(--dkpurple);
  margin-bottom: 20px;
  cursor: pointer;
}

h1 { font-size: 50px; }
h2 { font-size: 40px; }
h3 { font-size: 30px; }

h4 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: var(--brand-color);
  margin: 20px 20px 15px 0;
}

.h4-inverse {
  color: #FFFFFF;
  margin: 0;
  padding-top: auto;
}

h5 {
  color: #B2ACBA;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 12px;
  letter-spacing: 2.4px;
  margin-bottom: 20px;
  font-weight: bold;
}

.paragraph {
  font-family: Montserrat;
  font-size: 20px;
  line-height: 30px;
  color: var(--dkpurple);
  margin-bottom: 20px;
}

.small-text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  color: var(--dkpurple);
  margin-bottom: 20px;
}

.inverse {
  color: #FFFFFF;
}

.float-left {
  float: left;
}